@import url('https://fonts.googleapis.com/css2?family=Nobile:wght@400;500;700&family=Outfit:wght@100;200;300;400;500;600;700;800;900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/* 
.about-cont::before {
    content:"";
    background:url("./Assest/chess.jpg");
    background-size: cover;
    background-position: center bottom;
    height: 100%;
    background-attachment:scroll;
    
    width: 100%;
    border: 3px solid red;
    position:absolute;
    object-fit: cover;
    opacity: 0.8;
    object-fit: cover;
    top:0; 
     left: 0;
    z-index: -10;
} */
.detail-container{
    position: relative;
    display:flex;  
    align-items: center ;
    
}
.about-cont{
    margin: 0;
    /* background-color: #cac3b8; */

}
.about-sec{
    padding: 10px;
    margin-left: 60px;
    padding: 20px;
    margin-bottom: auto;
    width: 200%;
    height: 421.6px;
}
.name{
    margin: 0;
    padding: 20px;
    font-family: 'Nobile', sans-serif;
    color: #555555;
    text-align: center;
    font-weight: 700;
}
.about-sec img{
    margin-top: 2.8rem;
    height: 80%;
    width: 100%;
    background-color: #839a9b;
    border-radius: 10%;
}
.intro-sec{
    position: relative;
    align-items: right;
    margin: 30px;
}
.intro-sec p{
     color: gray;
}

@media screen and (max-width:900px) {
        /* .intro-sec{
            clear: left;
        } */
        .about-cont{
            margin: 0;
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            /* border: 5px solid palegoldenrod; */
        }
        .name{
            /* border: 10px solid rgb(64, 0, 255); */
            margin: 0;
            width: 100%;
            height: 20%;
        }
        .logoimg{
            display: none;
        }
        .detail-container{
            margin: 0;
            flex-flow: column nowrap;
            /* box-sizing: border-box;
            display: block; */
        }
        .about-sec{
            /* margin-left: 20px; */
            /* margin-bottom: auto; */
            /* background: red; */
            margin: 0;
            padding: 5px;
            text-align: center;
            width: 100%;
            display: none;
            /* height: 30%; */
            /* border: 10px solid black; */
        }
        .intro-sec{
            /* padding: 20px; */
            margin: 0;
            padding: 10px;
            text-align: justify;
            width: 100%;
            height: auto;
            /* position:absolute; */
            /* text-overflow: hidden; */
            /* border: 10px solid green; */
            /* margin: auto; */
        }
       

}