@import url('https://fonts.googleapis.com/css2?family=Nobile:wght@400;500;700&family=Outfit:wght@100;200;300;400;500;600;700;800;900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.detail-container{
    position: relative;
    display:flex;  
    align-items: center ;
    
}
.about-cont{
    margin: 0;
    background-color: #cac3b8;

}
.about-sec{
    padding: 10px;
    margin-left: 60px;
    padding: 20px;
    margin-bottom: auto;
    width: 421.6px;
    height: 421.6px;
}
.name{
    margin: 0;
    padding: 20px;
    font-family: 'Nobile', sans-serif;
    color: #555555;
    text-align: center;
    font-weight: 700;
}
.about-sec img{
    height: 100%;
    width: 320px;
    border-radius: 50%;
}
.intro-sec{
    position: relative;
    align-items: right;
    margin: 30px;
}
.intro-sec p{
     color: gray;
}
.Introheader{
    font-family: 'Outfit', sans-serif;
    font-weight: Regular 400;
}
@media screen and (max-width:900px) {
        /* .intro-sec{
            clear: left;
        } */
        .about-cont{
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
        }
        .name{
            /* border: 10px solid orange; */
            width: 100%;
    
            height: 20%;
        }
        .about-img{
            width: 100%;
        }
        .detail-container{
            flex-flow: column nowrap;
        }
        .about-sec{
            margin-left: 20px;
           
            margin-bottom: auto;
            /* background: red; */
            text-align: center;
            width: 100%;
            height: 30%;
            /* border: 10px solid black; */
        }
        .intro-sec{
            padding: 20px;
            text-align: justify;
            width: 100%;
            height: auto;
            /* position:absolute; */
            /* text-overflow: hidden; */
            /* border: 10px solid green; */
            margin: auto;
        }
       

}