@import url("https://fonts.googleapis.com/css2?family=Nobile:wght@400;500;700&family=Outfit:wght@100;200;300;400;500;600;700;800;900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Prosto+One&family=Tangerine:wght@700&display=swap");
.Dev-heading {
    font-family: 'Prosto One', cursive;
    margin: 0;
    color: #839a9b;
    text-align: center;
    padding: 4rem 0 2rem 0;

}

.Devi-container {
    /* border-top-left-radius: 20%;
    border-top-right-radius: 30%; */
    margin: 0;
    background: #efeae2;
    text-align: center;
    align-items: center;
}

.Dev-container {
  
    padding-left: 15px;
    padding-right: 15px;
    max-width: 1140px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 40px;
    padding-bottom: 3rem;
    /* border-radius: 20%; */
    /* border:5px solid red; */
    /* text-align: center; */
    /* align-items: center; */


}

.Dev-card {
    /* border: 5px solid green; */
    border-radius: 5%;
    background: #839a9b;
    /* padding: 1.2rem 1rem; */
    /* display: flex; */
    box-shadow: 10px 10px 10px -5px #333;
}


.dev-img-cont {
    /* border: 5px solid green; */
    
    padding: 0;
    display: block;
    align-items: center;
    text-align: center;
    /* border-radius: 20%; */
    /* border: 3px solid red; */
    height: 250px;
}

.dev-img {
    border-top-left-radius: 5%;
    border-top-right-radius: 5%;
    width: 100%;
    height: 100%;
    /* border-radius: 50%; */
    /* border: 2px solid blue; */
}

.dev-pro-details p {
    padding-top: 1rem;
    /* padding-bottom: 1rem; */
    /* font-size: 1.1rem; */
    color: white;
    /* text-align: center; */
   

}

.Dev-name {
    justify-content: center;
    font-style: 'Tangerine',cursive !important;
}

@media screen and (max-width:980px) {
    .Dev-container {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media screen and (max-width:740px) {
    .Dev-container {
        max-width: 90%;
        max-width: auto;
        margin: auto;
        grid-template-columns: 1fr;
    }
}