.footer{
     width: 100%;
     /* padding: 6rem 0; */
     padding-top: 6rem;
     background-color: #c28364;
     /* border: 10px solid red; */
}
.left{
    /* border: 2px solid black; */
    display: flex;
    /* flex-flow: column nowrap; */
    flex-direction: row;
}
.address{
    width: 50%;
    height:100%;
    /* border: 3px solid rebeccapurple; */

}
ol{
    list-style-type: none;
}
.map{
    width: 50%;
    height: 400px;
    padding: 10px;
    border-radius: 2%;

}
.right{
    box-sizing: inherit;
    /* border: 2px solid blue; */
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    text-align: center;
    padding:20px ;

}
.title-touch{
    color: white;
    margin: 2rem auto;
    max-width: 300px;
    opacity: 0.8;
    font-weight: 400;
    word-break: break-word;
    font-family: "eurostile",sans-serif;
}


@media screen and (max-widht:640px) {
    .title-touch{
        font-size: 1.5rem;
    }
}