.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    position: fixed;
    width: 100%;
    height: 90px;
    z-index: 10;
   
}
.logo{
    /* border: 2px solid red; */
    margin-left: 3rem;
    width: 100%;
    height: 100%;
}
.logo_div{
    width: 219px;
    
}
/* .header logo{
    margin-left: 50px;
    padding: 10px;
    border: 2px solid red;
    background-color: #863A6F;
} */
.header-bg{
     background-color: #9e5345;
     /* border-radius: 10px; */
     
    transition: 0.5s;
}
.nav-menu{
    padding-top: 1.5rem;
    display: flex;
   
}
.nav-menu li{
        padding: 0 1rem ;
        display: inline-block;
        
}

.nav-menu li a{
            font-size: 1.2rem;
            font-weight:500;

}

.hamburger{
    display: none;
}

@media screen and (max-width:1040px) {
    .nav-menu{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100vh;
        background: #28272a;
        position: absolute;
        top: 0;
        left: -100%;
        z-index: -3;
        transition: 0.3s;
    }
    .nav-menu.active{
        left: 0;
    }
    .nav-menu li{
         padding: 1rem 0;
    }
    .nav-menu li a{
         font-size: 2rem;

    }
    .hamburger{
        display: initial;
    }
}